<IfModule mod_rewrite.c>
  RewriteEngine On
  # RewriteBase is optional; removing hardcode so app works in any subfolder
  # RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
